# Compiler files
cache/
out/
bin/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast
logs

# Dotenv file
.env

# npm
node_modules
*.log

# hardhat
cache_hardhat
artifacts

# Forge
.gas-snapshot
dependencies/
soldeer.lock

# Coverage
lcov.info*
crytic-export

# Defender Actions
dist
cache_hardhat

build/deployments-fork*.json

# Reports. eg stats.html
*.html

# Other
.DS_Store